<%- include('./src/header'); %>
<%- include('./src/headerbar'); %>
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">
                    <div class="row layout-top-spacing">
                        <div class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">                                
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Öğretmen Ekle</h4>
                                        </div>
                                    </div>
                                </div>
                                    <form action='../../../yonetim/ogretmen_sifre_duzenle/<%=find_ogretmen._id%>' method='POST'>
                                        <div class="form-group mb-4">
                                            <label for="password">Yeni Şifre</label>
                                            <input type="password" name="password" class="form-control" id="password" placeholder="Şifre Giriniz...">
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="password2">Yeni Şifre Tekrar</label>
                                            <input type="password" name="password2" class="form-control" id="password2" placeholder="Şifre Tekrar Giriniz...">
                                        </div>
                                        <button type="submit" name="action" class="mt-4 mb-4 btn btn-primary">KAYDET</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
<%- include('./src/footer'); %> 